```yaml
openapi: 3.0.3
info:
  title: Checker API
  description: |
    Comprehensive API documentation for integrating with the Checker system. This API allows external systems to access and manage data within the Checker platform, facilitating seamless integration with third-party software. All requests use HTTP POST with a single endpoint and encrypted payloads.
  version: 1.0.0
servers:
  - url: https://eu.checker-soft.com/testing
    description: Testing environment for Checker API
tags:
  - name: Overview
    description: General information about the Checker API and its purpose
  - name: Request
    description: Details on constructing and sending API requests
  - name: Response
    description: Structure of API responses (successful and unsuccessful)
  - name: Review
    description: Operations related to retrieving review data
paths:
  /api_index.php:
    post:
      tags:
        - Request
        - Review
      summary: Centralized endpoint for all Checker API requests
      description: |
        All API interactions are performed via HTTP POST to this endpoint. Requests must include `app_id` and `enc_request` parameters. The `enc_request` is a JSON payload encrypted with AES-256-CBC, prepended with a random IV, Base64 encoded, and URL encoded. The secret encryption key is provided by Checker and must not be sent in requests.
      parameters:
        - name: app_id
          in: query
          required: true
          schema:
            type: string
            example: "30"
          description: Unique application identifier provided by Checker.
        - name: enc_request
          in: query
          required: true
          schema:
            type: string
          description: |
            Encrypted and encoded request payload. Steps to construct:
            1. Create a JSON payload with `controller`, `action`, and other properties.
            2. Encrypt the JSON using AES-256-CBC with a secret key and random IV.
            3. Prepend the raw binary IV to the encrypted data.
            4. Base64 encode the combined string (IV + encrypted data).
            5. URL encode the Base64 string.
      requestBody:
        description: The request body is not used directly; all data is passed via the `enc_request` query parameter.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RequestPayload'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          description: Error response (e.g., invalid parameters, authentication issues)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
components:
  schemas:
    RequestPayload:
      type: object
      required:
        - controller
        - action
      properties:
        controller:
          type: string
          description: Name of the API module (e.g., 'Review').
          example: Review
        action:
          type: string
          description: Specific operation within the module (e.g., 'selectrecord').
          example: selectrecord
        where:
          type: object
          description: Filters or conditions for the request.
          additionalProperties: true
    SuccessResponse:
      type: object
      required:
        - success
        - data
        - security_note
      properties:
        success:
          type: boolean
          example: true
        data:
          type: object
          description: Specific data returned by the API action, varying by controller and action.
          additionalProperties: true
        security_note:
          type: string
          example: data secured
    ErrorResponse:
      type: object
      required:
        - success
        - errormsg
        - security_note
      properties:
        success:
          type: boolean
          example: false
        errormsg:
          type: string
          description: Descriptive error message explaining the failure.
          example: Invalid parameters provided
        security_note:
          type: string
          example: data secured
    ReviewSelectRecord:
      type: object
      required:
        - controller
        - action
        - where
      properties:
        controller:
          type: string
          example: Review
        action:
          type: string
          example: selectrecord
        where:
          type: object
          properties:
            CritID:
              type: integer
              description: Unique ID of the review.
            SetTypeLink:
              type: integer
              description: Type of questionnaire used for the review.
            CritMode:
              type: integer
              description: Mode of the review (0 for online, 1 for offline).
            CheckerLink:
              type: integer
              description: ID of the shopper who performed the review.
            ClientLink:
              type: integer
              description: ID of the client associated with the review.
            BranchLink:
              type: integer
              description: ID of the branch where the review took place.
            SetLink:
              type: integer
              description: ID of the questionnaire.
            SetName:
              type: string
              description: Name of the questionnaire.
            ISurveyLink:
              type: integer
              description: ID of the Internet survey.
            WorkerLink:
              type: integer
              description: ID of the worker.
            ActualStartTime:
              type: string
              format: date-time
              description: Date and time when the shopper began the review.
            StartTime:
              type: string
              format: date-time
              description: Declared start time of the review.
            FinishTime:
              type: string
              format: date
              description: Declared finish time of the review.
            ActualFinishTime:
              type: string
              format: date-time
              description: Actual time when the shopper finished the review.
            Result:
              type: string
              description: Overall result of the review.
            CritStatusLink:
              type: integer
              description: Status of the review (e.g., 1 for pending, 6 for approved).
            QaGradeAdjusted:
              type: integer
              description: Set to 1 if QA adjusted the review result, 0 otherwise.
            QaGrade:
              type: string
              description: Result as adjusted by QA.
            QaUserLink:
              type: integer
              description: ID of the QA user who performed the adjustment.
            WasSentBack:
              type: integer
              description: Set to 1 if the review was sent back to the shopper, 0 otherwise.
            PanelistLink:
              type: integer
              description: ID of the panelist.
            DataIDs:
              type: array
              items:
                type: integer
              description: Array of questionnaire object IDs to limit returned questions.
            RemoveEmptyChapters:
              type: boolean
              description: If true, removes empty sections or subsections from the response.
      example:
        controller: Review
        action: selectrecord
        where:
          SetLink: 444
          ClientLink: 255
    ReviewGetOnceApproved:
      type: object
      required:
        - controller
        - action
        - where
      properties:
        controller:
          type: string
          example: Review
        action:
          type: string
          example: getOnceApproved
        where:
          type: object
          properties:
            CritID:
              type: integer
              description: Unique ID of the review.
            SetTypeLink:
              type: integer
              description: Type of questionnaire.
            CritMode:
              type: integer
              description: Mode of the review.
            CheckerLink:
              type: integer
              description: ID of the shopper.
            ClientLink:
              type: integer
              description: ID of the client.
            BranchLink:
              type: integer
              description: ID of the branch.
            SetLink:
              type: integer
              description: ID of the questionnaire.
            SetName:
              type: string
              description: Name of the questionnaire.
            ISurveyLink:
              type: integer
              description: ID of the Internet survey.
            WorkerLink:
              type: integer
              description: ID of the worker.
            ActualStartTime:
              type: string
              format: date-time
              description: Date when the shopper began the review.
            StartTime:
              type: string
              format: date-time
              description: Declared start time.
            FinishTime:
              type: string
              format: date
              description: Declared finish time.
            ActualFinishTime:
              type: string
              format: date-time
              description: Actual time when the shopper finished the review.
            Result:
              type: string
              description: Result of the review.
            CritStatusLink:
              type: integer
              description: Status of the review (e.g., 6 for approved).
            QaGradeAdjusted:
              type: integer
              description: Set to 1 if QA adjusted review result, 0 otherwise.
            QaGrade:
              type: string
              description: Result adjusted by QA.
            QaUserLink:
              type: integer
              description: ID of the QA user.
            WasSentBack:
              type: integer
              description: Set to 1 if sent back to shopper, 0 otherwise.
            PanelistLink:
              type: integer
              description: ID of the panelist.
            FinishTimeStart:
              type: string
              format: date
              description: Start of the period for reviews (YYYY-MM-DD).
            FinishTimeEnd:
              type: string
              format: date
              description: End of the period for reviews (YYYY-MM-DD).
            ProjectIDs:
              type: array
              items:
                type: integer
              description: Array of project IDs to filter reviews.
            SurveyIDs:
              type: array
              items:
                type: integer
              description: Array of survey IDs to filter reviews.
            LastUpdateStart:
              type: string
              format: date-time
              description: Start of the period for last updated reviews.
            LastUpdateEnd:
              type: string
              format: date-time
              description: End of the period for last updated reviews.
      example:
        controller: Review
        action: getOnceApproved
        where:
          LastUpdateStart: "2025-02-01 00:00:00"
          LastUpdateEnd: "2025-06-14 23:59:59"
          SetLink: 6456
```
